<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>

    {{ $css := resources.Get "css/spaces.css" | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $css.RelPermalink | relURL }}" integrity="{{ $css.Data.Integrity }}">
    {{ $css := resources.Get "css/abs_layout.css" | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $css.RelPermalink | relURL }}" integrity="{{ $css.Data.Integrity }}">
    {{ $css := resources.Get "css/remark.css" | resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $css.RelPermalink | relURL }}" integrity="{{ $css.Data.Integrity }}">
</head>